#login-card-header{
    background-color:  rgb(75, 112, 245);
    color: white;
}
#login-w-100{
    border-color:  rgb(75, 112, 245);
    border: solid 2px rgb(75, 112, 245);;
}
#login-w-100:hover{
    box-Shadow: 0px 0px 0px 3px rgb(33, 77, 238);
}
#login-button{
    background-color:  rgb(75, 112, 245);
    border-radius: 10px;
    border: 1px solid  rgb(75, 112, 245);
    color: white;
}
#login-button:hover{
    background-color:  rgb(75, 112, 245);
    box-Shadow: 0px 0px 0px 3px rgb(33, 77, 238);
    border-color:  rgb(75, 112, 245);
}
#login-card{
    border: none;
    box-Shadow: 0px 0px 0px 3px rgb(33, 77, 238);
   
}
#login-input{
    border-color:  rgb(75, 112, 245);
    border: solid 2px rgb(75, 112, 245);
}
#login-input:hover{
    box-Shadow: 0px 0px 0px 3px rgb(33, 77, 238);
}